<div class="contactus">
  <div class="card bg-dark text-dark">
    <img class="card-img"
      src="https://image.shutterstock.com/image-photo/abstract-blurred-beautiful-glowing-pastel-260nw-1039440307.jpg"
      alt="" width="80" height="420">
    <div class="card-img-overlay">
      <h1 class="card-title">Contact Us</h1>
      <p class="card-text"><br>
        Organization Name: our test organization, Full Address, Dist:District Tal:Taluka.
        <br>
        College Name:Test College Dummy College
        <br>
        Postal Address : latur Ta: Pune (corporation Area) Dist: Pune Pincode: 342535.
        <br>
        Email : gawadepallavi14@gmail.com
        <br>
        Web-Site : http://www.intelogiq.com
      </p>
      <h4>Feel Free to Contact Us</h4>
    </div>
  </div>