<div class="image">

 <nav class="navbar navbar-expand-lg navbar-default">

      <a class="navbar-brand holder">Library Management System</a>
        <div class="collapse navbar-collapse holder">
        <ul class="navbar-nav mr-auto">
          <li >
            <a class="nav-link" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link" href="/about">About</a>
          </li>
          <li >
             <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li *ngIf="authService.isUser()">
            <a class="nav-link" href="/allBooks">show Books</a>
          </li>
        </ul> 
          

           
            <form class="form-inline">
              <ul class="navbar-nav ml-auto"> 
               <li *ngIf="authService.isNotLoggedIn()">
                <a [routerLink]="['/login']">Login</a>
             </li> 
            
               <li *ngIf="authService.isLoggedIn()">
                <a (click)="this.logoutClick()" routerLink="/login">Logout</a>
              </li> 
               </ul>
            </form> 
        </div>
          </nav> 

          <div id="wrapper" class="toggled" *ngIf="authService.isAdmin()">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">Admin Operations</li>
                  
          <li>
            <a class="nav-link" routerLink="/addBook">Add Book</a>
          </li>
          <li>
            <a class="nav-link" href="/addUser">Add User</a>
          </li>
          <li>
            <a class="nav-link" href="/showUsers">Show Users</a>
          </li>
          <li>
            <a class="nav-link" href="/allBooks">Show Books</a>
          </li>
          <li>
            <a class="nav-link" href="/showRequests">Show Requests</a>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          </div>
          </div>
      </div>
<router-outlet></router-outlet>

