 .image{
    height: 59em; background-size: cover; width: 100%;
    background-image: url('https://image.shutterstock.com/image-illustration/library-interior-design-massive-bookshelves-260nw-406995139.jpg');
    background-position: 50% 50%;
}

nav{
  width: 100%;
  background: #d4145a;
  }

#navbar {
  width: 100%;
  background: #d4145a;
}

#navbar.affix {
  background: #d4145a;
}

code {
  font-size: 80%;
}
.collapse.navbar-collapse.holder li a {
  font-size: 20px;
    color: white;
}
.collapse.navbar-collapse.holder li a:hover{

   font-weight: bold;
   font-size: 24px;
}
a.navbar-brand.holder {
    font-size: 20px;
    font-weight: bold;
    color:orange;
}

.collapse.navbar-collapse.holder li {
    margin-left: 20px;
}


#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  width: 100%;
  padding-left: 160px;
}

#sidebar-wrapper {
  overflow:scroll;
  overflow-y: hidden;
  margin-top: -20px;
  z-index: 1000;
  position: absolute;
  margin-left: 20px;
  left: 200px;
  width: 200px;
  height: 55em;
  margin-left: -200px;
  overflow-y: auto;
  width: 100%;
  background: #d4145a;
}

#wrapper.toggled #sidebar-wrapper {
  width: 160px;
}

#page-content-wrapper {
  padding-right: 50px;
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  margin-left:-20px;
  margin-right:-20px; 
}


/* Sidebar Styles */
.sidebar-brand{
  margin-right:-18px;
  padding-left:-20px;
  font-size: 28px;
  font-weight: bold;
  color:orange;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  margin-left:0px;
}

.sidebar-nav li a {
  padding-left:-20px;
  font-size: 20px;
  color: white;
}

.sidebar-nav li a:hover {
  font-weight: bold;
  font-size:24px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 95px;
  font-size: 18px;
  line-height: 90px;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}


