<div class="about">
  <div class="card bg-dark text-dark">
    <img class="card-img" src="https://cdn.pixabay.com/photo/2015/12/06/20/10/christmas-bauble-1079926__480.jpg" alt=""
      width="80" height="420">
    <div class="card-img-overlay">
      <h1 class="card-title">ABOUT</h1>
      <p class="card-text"><br><br>
        A Library Management System (LMS) is a tool to help any libraries which are still
        using the old way to manage their library. The old way like searching for a book using
        manual work is hassle, fast report generation is not possible, information about
        issue/return of the books are not properly maintained, no central database can be created
        as information is not available in database. But by using the LMS, user can overcome
        all the problems mentioned above. This system can manage all the happenings of the library.
        Book transactions including book searching, availability of the book, details and appearance
        of the book, personal book borrowing history and etc. can be very easily handled by this system.
        This system is suitable for small to big libraries including medical and legal libraries,
        colleges, schools, universities, corporate houses and other academic resource centers.
        However, I would like to focus on LMS for colleges or universities.
      </p>
    </div>
  </div>

</div>